// get colour names from http://chir.ag/projects/name-that-color/
:root {
  --color-geraldine: #fb9e91;
  --color-terracotta: #e97568;
  --color-white: #fff;
  --color-manatee: #8a8fa2;
  --color-fiord: #415a67;
}
// $color-geraldine: #fb9e91;
// $color-terracotta: #e97568;
// $color-white: #fff;
// $color-manatee: #8a8fa2;
// $color-fiord: #415a67;