// get colour names from http://chir.ag/projects/name-that-color/
:root {
  --color-geraldine: #fb9e91;
  --color-terracotta: #e97568;
  --color-white: #fff;
  --color-manatee: #8a8fa2;
  --color-fiord: #415a67;
  --color-periwinkle-gray: #b2c7e2;
  --color-pelorous: #42bcbd;
  --color-charm: #d76d93;
  --color-affair: #7e4b83;
  --color-confetti: #eacb5f;
  --color-gumbo: #7ea1a6;
  --color-fantasy: #f9f0ee;
  --color-twilight: #e3ceda;
}
// $color-geraldine: #fb9e91;
// $color-terracotta: #e97568;
// $color-white: #fff;
// $color-manatee: #8a8fa2;
// $color-fiord: #415a67;