doctype html
html
  block cool-config
  head
    title=myTitleForGooogle
    meta(name="description", content=myDescriptionForGooogle)
    link(rel="stylesheet", href="style.css")
  body
    block mega-awesome-content