doctype html
html
  block cool-config
  head
    title=myTitleForGooogle
    meta(name="description", content=myDescriptionForGooogle)
    link(rel="stylesheet", href="style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  body
    block mega-awesome-content