extends _component/layout/page
block cool-config
  -
    var myTitleForGooogle = 'My ultra awesome resume'
    var myDescriptionForGooogle = 'Amaze your eyes with my amazing story'
block mega-awesome-content
  include _component/landing-page/landing-page
  include _component/about-me/about-me
  include _component/award/award